<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.derma.app">

    <uses-sdk />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/activity_name_classification"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="activities.DisclaimerActivity"
            android:label="@string/activity_name_classification"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="activities.ClassifierActivity">
        </activity>

        <activity android:name="activities.AboutActivity">
        </activity>

        <activity android:name="activities.InfoPageActivity">
        </activity>

        <activity android:name="activities.MainActivity">
        </activity>

        <activity android:name="activities.SharingActivity">
        </activity>

        <activity android:name="activities.ResultActivity">
        </activity>

        <!--<activity-->
            <!--android:name="com.yalantis.ucrop.UCropActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>-->

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

    </application>




</manifest>
